main {
  text-align: center;
}

.home {
  font-size: 40px;
  margin-top: 20vh;
  height: 60vh;
  width: 100vw;
}

.size {
  font-size: 30px;
}

.summary {
  margin: 0 12vw;
  text-align: left;
}

.summary2 {
  text-align: left;
  margin: 0 5vw;
  width: 800px;
}

#about {
  display: flex;
  margin-left: 10vw;
  text-align: right;
}

#skills {
  display: flex;
  margin-left: 10vw;
  text-align: right;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  height: 100vh;
  transform: translateX(-50%);
}

h1 {
  width: 20vw;
  text-align: right;
}
#itsame{
  width: 100vw;
}

.hidden3 {
  transform: translateY(50%)
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.school-info {
  font-size: 20px;
  list-style-type: none;
}

.school-name {
  font-size: 25px;
  font-weight: bold;
}

.languages {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
}

.skills {
  border: solid black 2px;
  margin: 1vw;
  padding: 5px;
  font-size: 20px;
}

.stack {
  display: block;
}

.paragraphs {
  font-size: 25px;
}

.projects {
  border: solid black 2px;
  display: block;
  padding: 5px;

}

#experience {
  display: flex;
  margin-left: 10vw;
  text-align: right;
}

#projects {
  display: flex;
  margin-left: 10vw;
  text-align: right;
}

#education {
  display: flex;
  margin-left: 10vw;
  text-align: right;
}