main {
  text-align: center;
  margin: 0;
  padding: 0;
}

#home {
  font-size: 40px;
  margin-top: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 20vh;
  width: 80vw;
  background: var(--info-background-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: var(--border);
}
#mypic{
width: 225px;
position: absolute;
margin-left: 20vw;
margin-top: -57vh;
border-radius: 30px;
border: solid var(--primary-text-color) 1px;
}

.color{
  color: black;
}

.size {
  font-size: 30px;
}
#pre-program{
  font-size: 17px;
}

.summary {
  margin: 0 12vw;
  text-align: left;
}

.summary2 {
  text-align: left;
  margin: 0 5vw;
  width: 70vw;
}

.hidden {
  opacity: 0;
  transition: all 2.5s;
  transform: translateX(-50%);
}
.article {
  transition: all 1.5s;
  margin-bottom: 20vh;
  text-align: right;
  display: flex;
  border-right: var(--article-border);
  margin-right: 5vw;
}

h1 {
  width: 300px;
  text-align: right;
}

h2 {
  width: 350px;
  text-align: right;
  font-size:35px;
}

#itsame{
  width: 100vw;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.school-info {
  font-size: 20px;
  list-style-type: none;
}

#smiley{
font-size: 28px;
}
.school-name {
  font-size: 25px;
  font-weight: bold;
}

.languages {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
}

.skills {
  border: solid var(--primary-text-color) 2px;
  margin: 1vw;
  margin-left: 0;
  padding: 5px;
  font-size: 20px;
  background-color: var(--light-coral);
}

.stack {
  display: block;
}

.paragraphs {
  font-size: 25px;
}

.projects {
  border: var(--border-type);
  display: block;
  padding: 5px;
  margin-bottom: 3vw;

}

.proj{
  border-bottom: solid var(--primary-text-color) 2px ;
  display: flex;
  justify-content: space-between;
}
.fa-link:hover{
  transform: scale(1.1);
}

.extra-toggles{
  align-items: end;
}

@media screen and (max-width: 1025px) {
  .article {
    display: block;
  }
  h2{
    width: 100vw;
    text-align: left;
    padding-left: 5vw;
  }
  #home {
    width: 80vw;
    margin-top: 0;
  }
  #mypic{
    margin-top: -59vh;
  }
  }
  @media screen and (max-width: 900px) {
#mypic{
  display: none;
}
  }