*{
    padding: 0;
    margin:0;
}
.logo {
    width: 150px;
    left: 1rem;
    position: absolute;
    top: 2rem;
    transition: transform .7s ease-in-out;
}
.logo:hover{
  transform: var(--spin);
}
.nav-bar{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    font-size: 18px;
}
.style {
    text-decoration: none;
    color: var(--primary-text-color);
}
#navigation {
    display: flex;
    justify-content: space-between; 
    border-top: var(--border-color) solid 20px;
}

ul{
    padding: 5vh;
}
.nav-item{
    padding: 2vw;
}


.nav-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    cursor: pointer;
  }
  .resumebtn{
    padding: 5px;
    color: black;
}
.resumebtn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

  /* The switch - the box around the slider */
.switch {
    position: relative;
    margin-left: 2rem;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: black solid 1px;
    border-radius: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: coral;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border: black solid .5px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e0fbf8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e0fbf8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .hide {
    opacity: 0;
    transition: all 1.5s;
    margin-bottom: 20vh;
    margin-left: 10vw;
    text-align: right;
    display: flex;
    transform: translateY(-50%);
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  @media screen and (max-width: 750px){
    .nav-bar{
      display: block;
      height: 30vh;
      padding-top: 2rem;
      font-size: 18px;
  }
  .nav-item {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: block;
}
.resumebtn{
  padding-right:5px;
  padding-left: 5px;
  margin:8px 0px;
}
#navigation{
  height: 40vh;
}
  }